/* index.css
 * homepage of BCA Mart
 */

html, body {
	padding: 0px;
	margin: 0px;
	height: 100%;
}

body {
	background-color: #2f2f2f;
}

.slide {
	width: 100%;
	min-height: 40px;
	position: relative;
	display: inline-block;
	margin: -4px 0px 0px 0px;
	padding: 50px 0px 50px 0px;
}

.slide a.auto:link,
.slide a.auto:visited {
	color: rgba(255,255,255,0.2);
	text-decoration: none;
	transition: color 350ms;
}

.slide a.auto:hover {
	color: rgba(255,255,255,0.5); 
}

.slide a.auto:active {
	color: rgba(200,200,200,0.5);
	text-decoration: underline;
}

.sl_holder {
	/* necessary for vertical centering */
	display: table;
	width: 100%;
	height: 100%;
	position: relative;
	padding: 0px;
}

.sl_text_holder, .sl_main_holder {
	/* necessary for vertical centering */
	display: table-cell;
	vertical-align: middle;
}

.sl_text {
	/* slide text */
	width: 70%;
	min-height: 20px;
	left: 15%;
	display: block;
	position: relative;
}

/* slide headers/titles */
.sl_text > h1 {
	font-family: Titillium, Arial;
	font-size: 48px;
	color: #f0f0f0;
	text-align: center;
}

.sl_text > h1 > span.light,
.sl_text > h2 > span.light,
.sl_text > h1.light,
.sl_text > h2.light {
	font-weight: 100;
}

.sl_text > h1 > span.normal,
.sl_text > h2 > span.normal,
.sl_text > h1.normal,
.sl_text > h2.normal {
	font-weight: normal;
}

.sl_text > h1 > span.bold,
.sl_text > h2 > span.bold,
.sl_text > h1.bold,
.sl_text > h2.bold {
	font-weight: bold;
}

.sl_text > h1 > span.heavy,
.sl_text > h2 > span.heavy,
.sl_text > h1.heavy,
.sl_text > h2.heavy {
	font-weight: 900;
}

.sl_text > h2 {
	font-family: Titillium, Arial;
	font-size: 32px;
	color: #f0f0f0;
	text-align: center;
	font-weight: 100;
}
/* slide headers/titles */

/* slide descriptors */
.sl_text > .descr {
	font-family: Titillium, Arial;
	font-size: 36px;
	font-weight: 300;
	color: #f9f9f9;
	width: calc(100% - 200px);
	min-height: 100px;
	margin: 30px auto 0px auto;
	text-align: center;
	line-height: 56px;
}
/* slide descriptors */

hr.sl_line {
	/* horizontal line below title */
	width: 60%;
	position: relative;
	border: none;
	border-top: 4px solid rgba(240,240,240,0.5);
	margin-left: auto;
	margin-right: auto;
}

.sl_choices {
	position: relative;
	display: block;
	margin: 100px auto 0px auto;
	width: calc(100% - 100px);
	min-height: 100px;
	padding: 10px;
	text-align: center;
}

.sl_choice {
	position: relative;
	display: inline-block;
	min-width: 100px;
	min-height: 100px;
	vertical-align: bottom;
	margin: 0px 55px 0px 55px;
	padding: 4px;
}

.sl_choice > * {
	text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
	transition: color 600ms, text-shadow 600ms, font-size 600ms;
	display: inline;
}

.sl_choice > .choice_icon {
	min-width: 10px;
	min-height: 10px;
	text-align: center;
	font-size: 70px;
	color: #f9f9f9;
}

.sl_choice > p.choice_descr {
	/* text that appears below image */
	/* usually, this is our nth-child(2) */
	font-family: Titillium;
	font-size: 22px; /* 22px */
	color: #f9f9f9;
	font-style: normal;
	font-weight: normal;
	margin: 10px auto 0px auto;
	font-weight: 100;
	max-width: 200px;
	word-break: break-all;
	display: inline-block;
}

.sl_trapdoor {
	/* framework for any typical trapdoor within a slide */
	position: relative;
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow: hidden;
}
	.sl_trapdoor > div.slt_holder {
		position: relative;
		display: inline-block;
		height: 100%;
		min-width: 10px;
		text-align: left;
		overflow-y: scroll;
		
	}

.sl_trapdoor > div.slt_holder > .sl_trapdoor_item {
	/* within our trapdoor centering div */
	height: 150px;
	min-width: 140px;
	max-width: 20%;
	margin: 40px 0px 0px 50px;
	float: left;
	clear: none;
	position: relative;
	border-radius: 7px;
	border: 1px solid #3f3f3f;
	box-shadow: 0px 1px 0px #5f5f5f, inset 0px 1px 0px #5f5f5f, 0px 0px 15px #4b4b4b;
	background-color: transparent;
	transition: background-color 350ms, box-shadow 350ms;
	text-align: center;
	padding-bottom: 10px;
}
	.sl_trapdoor > div.slt_holder > .sl_trapdoor_item:last-child {
		margin-right: 50px;
	}

.sl_trapdoor > div.slt_holder > .sl_trapdoor_item:hover {
	background-color: rgba(96,96,96,0.7);
	box-shadow: 0px 1px 0px #5f5f5f, inset 0px 1px 0px rgba(159,159,159,0.4),
				0px 0px 15px #535353;
}
	.sl_trapdoor > div.slt_holder > .sl_trapdoor_item > img {
		width: 90px;
		height: 90px;
		display: inline-block;
		margin-top: 15px;
		background-color: none;
		border: none;
	}
	.sl_trapdoor > div.slt_holder > .sl_trapdoor_item > p {
		margin-top: 2px;
		height: 18px;
		min-width: calc(100% - 10px - 20px);
		font-family: Titillium, Arial;
		font-size: 18px;
		text-align: center;
		color: #aaa;
		text-shadow: 0px 1px 0px #2f2f2f;
		display: inline-block;
		padding-left: 10px;
		padding-right: 10px;
	}

/* START specific slides */
#slide1 {
	background-image: url('assets/images/bcamart.jpg');
	height: 700px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#slide2 {
	background-color: #1abc9c;
	padding-bottom: 0px;
	min-height: 100%;
}
	#slide2 .sl_choice > .choice_icon {
		cursor: pointer;
	}
	#slide2 .sl_choice > .choice_icon:hover {
		color: #bfd9d3;
	}
	#slide2 .sl_choice > .choice_descr {
		font-weight: 300;
	}
	#slide2 > .sl_holder > .sl_trapdoor {
		background-color: #4f4f4f;
		height: 0px; /* 223px */
		display: none;
		box-shadow: inset 0px 4px 3px #393939;
		transition: height 1s ease;
	}
#slide3 {
	background-color: #34495e;
	height: 80%
}
#slide4 {
	height: 80%;
	background-color: #2f2f2f;
}
	#slide4 .sl_choice {
		min-width: 200px;
	}
/* END specific slides */
