/* index.css
 * homepage of BCA Mart
 */

html, body {
	padding: 0px;
	margin: 0px;
	height: 100%;
}

body {
	background-color: #2f2f2f;
	min-height: 3000px; /* for testing purposes */
}

.slide {
	width: 100%;
	min-height: 40px;
	position: relative;
	display: inline-block;
	margin: 0px;
	background-color: #6e6e7f;
}

.sl_title {
	width: 70%;
	min-height: 20px;
	position: absolute;
	left: 15%;
	top: 50%;
	background-color: red;
}

/* START specific slides */
#slide1 {
	background-image: url('assets/images/bcamart.jpg');
	height: 700px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
/* END specific slides */
